In [2]:
import pandas as pd
import io
from io import StringIO

READ THE CSV AND PERFORM BASIC DATA CLEANING

In [3]:
df_01 = pd.read_csv("RA2016DF.csv")
#print(df_01.count())
#print(df_01)
#drop the null rows
#df_01 = df_01.dropna()
#print(df_01.count())
print(df_01['Site Name'].unique())

['Millbrook School' 'Triple Oak' 'West Johnston Co.']

In [4]:
#print(df_01.head())
#pd.read_csv(io.StringIO(df_01.to_csv(index=False)))
test_df=df_01.iloc[:,1:]
test_df

,Site Name,Date,DMean PM10,PM10 Units,PM10 AQI,Lat,Lng,DMax NO2,NO2 Units,NO2 AQI,DMax Ozone,Ozone Units,Ozone AQI,DMax SO2,SO2 Units,SO2 AQI,DMax CO,CO Units,CO AQI
0,Millbrook School,8/27/2016,7.0,ug/m3 SC,6.0,35.856111,-78.574167,8.0,ppb,8.0,0.050,ppm,46.0,0.3,ppb,0.0,0.3,ppm,3.0
1,Millbrook School,8/28/2016,7.0,ug/m3 SC,6.0,35.856111,-78.574167,2.0,ppb,2.0,0.047,ppm,44.0,0.2,ppb,0.0,0.2,ppm,2.0
2,Millbrook School,8/28/2016,15.0,ug/m3 SC,14.0,35.856111,-78.574167,2.0,ppb,2.0,0.047,ppm,44.0,0.2,ppb,0.0,0.2,ppm,2.0
3,Millbrook School,8/28/2016,15.0,ug/m3 SC,14.0,35.856111,-78.574167,2.0,ppb,2.0,0.047,ppm,44.0,0.2,ppb,0.0,0.2,ppm,2.0
4,Millbrook School,9/1/2016,15.0,ug/m3 SC,14.0,35.856111,-78.574167,13.0,ppb,12.0,0.044,ppm,41.0,0.6,ppb,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1046,Triple Oak,12/15/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.6,ppm,7.0
1047,Triple Oak,12/16/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3,ppm,3.0
1048,Triple Oak,12/17/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5,ppm,6.0
1049,Triple Oak,12/18/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5,ppm,6.0
1050,Triple Oak,12/19/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3,ppm,3.0

In [5]:
df_02 = pd.read_csv("RA2018DF.csv")
#print(df_02.count())
#drop the null rows
#df_02 = df_02.dropna()
#print(df_02['Site Name'].unique())

In [6]:
#print(df_02.head())
#pd.read_csv(io.StringIO(df_01.to_csv(index=False)))
test2_df=df_02.iloc[:,1:]
test2_df

,Site Name,Date,DMean PM10,PM10 Units,PM10 AQI,Lat,Lng,DMax NO2,NO2 Units,NO2 AQI,DMax Ozone,Ozone Units,Ozone AQI,DMax SO2,SO2 Units,SO2 AQI,DMax CO,CO Units,CO AQI
0,Millbrook School,1/1/2018,7.0,ug/m3 SC,6.0,35.856111,-78.574167,7.2,ppb,7.0,0.037,ppm,34.0,2.0,ppb,3.0,0.2,ppm,2.0
1,Millbrook School,1/2/2018,12.0,ug/m3 SC,11.0,35.856111,-78.574167,33.6,ppb,31.0,0.034,ppm,31.0,1.8,ppb,1.0,0.7,ppm,8.0
2,Millbrook School,1/3/2018,20.0,ug/m3 SC,19.0,35.856111,-78.574167,30.3,ppb,28.0,0.032,ppm,30.0,2.5,ppb,3.0,0.9,ppm,10.0
3,Millbrook School,1/4/2018,13.0,ug/m3 SC,12.0,35.856111,-78.574167,5.4,ppb,5.0,0.035,ppm,32.0,1.9,ppb,1.0,0.2,ppm,2.0
4,Millbrook School,1/5/2018,12.0,ug/m3 SC,11.0,35.856111,-78.574167,18.2,ppb,17.0,0.036,ppm,33.0,1.3,ppb,1.0,0.2,ppm,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1178,Triple Oak,12/10/2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3,ppm,3.0
1179,Triple Oak,12/11/2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.7,ppm,8.0
1180,Triple Oak,12/12/2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.7,ppm,8.0
1181,Triple Oak,12/13/2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.7,ppm,8.0
1182,Triple Oak,12/14/2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.8,ppm,9.0

In [7]:
df_03 = pd.read_csv("RA2020DF.csv")
#print(df_01.count())
#drop the null rows
#df_03 = df_03.dropna()
print(df_03['Site Name'].unique())

['Millbrook School' 'Triple Oak' 'West Johnston Co.']

In [8]:
#print(df_03.head())
#pd.read_csv(io.StringIO(df_01.to_csv(index=False)))
test3_df=df_03.iloc[:,1:]
test3_df

,Site Name,Date,DMean PM10,PM10 Units,PM10 AQI,Lat,Lng,DMax NO2,NO2 Units,NO2 AQI,DMax Ozone,Ozone Units,Ozone AQI,DMax SO2,SO2 Units,SO2 AQI,DMax CO,CO Units,CO AQI
0,Millbrook School,1/1/2020,8.0,ug/m3 SC,7.0,35.856111,-78.574167,25.4,ppb,24.0,0.036,ppm,33.0,NaN,NaN,NaN,0.5,ppm,6.0
1,Millbrook School,1/1/2020,8.0,ug/m3 SC,7.0,35.856111,-78.574167,25.4,ppb,24.0,0.036,ppm,33.0,NaN,NaN,NaN,0.5,ppm,6.0
2,Millbrook School,1/2/2020,13.0,ug/m3 SC,12.0,35.856111,-78.574167,NaN,NaN,NaN,0.030,ppm,28.0,NaN,NaN,NaN,0.8,ppm,9.0
3,Millbrook School,1/2/2020,16.0,ug/m3 SC,15.0,35.856111,-78.574167,NaN,NaN,NaN,0.030,ppm,28.0,NaN,NaN,NaN,0.8,ppm,9.0
4,Millbrook School,1/3/2020,12.0,ug/m3 SC,11.0,35.856111,-78.574167,15.9,ppb,14.0,0.010,ppm,9.0,NaN,NaN,NaN,0.4,ppm,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1307,Triple Oak,11/29/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5,ppm,6.0
1308,Triple Oak,11/30/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3,ppm,3.0
1309,Triple Oak,12/1/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3,ppm,3.0
1310,Triple Oak,12/2/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5,ppm,6.0
1311,Triple Oak,12/10/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.7,ppm,8.0

In [9]:
AllData=pd.DataFrame()
AllData=AllData.append(test_df)

In [14]:
AllData=AllData.append(test2_df)

In [15]:
AllData=AllData.append(test3_df)

In [10]:
AllData.to_csv("RAMerged.csv")

In [11]:
AllData

,Site Name,Date,DMean PM10,PM10 Units,PM10 AQI,Lat,Lng,DMax NO2,NO2 Units,NO2 AQI,DMax Ozone,Ozone Units,Ozone AQI,DMax SO2,SO2 Units,SO2 AQI,DMax CO,CO Units,CO AQI
0,Millbrook School,8/27/2016,7.0,ug/m3 SC,6.0,35.856111,-78.574167,8.0,ppb,8.0,0.050,ppm,46.0,0.3,ppb,0.0,0.3,ppm,3.0
1,Millbrook School,8/28/2016,7.0,ug/m3 SC,6.0,35.856111,-78.574167,2.0,ppb,2.0,0.047,ppm,44.0,0.2,ppb,0.0,0.2,ppm,2.0
2,Millbrook School,8/28/2016,15.0,ug/m3 SC,14.0,35.856111,-78.574167,2.0,ppb,2.0,0.047,ppm,44.0,0.2,ppb,0.0,0.2,ppm,2.0
3,Millbrook School,8/28/2016,15.0,ug/m3 SC,14.0,35.856111,-78.574167,2.0,ppb,2.0,0.047,ppm,44.0,0.2,ppb,0.0,0.2,ppm,2.0
4,Millbrook School,9/1/2016,15.0,ug/m3 SC,14.0,35.856111,-78.574167,13.0,ppb,12.0,0.044,ppm,41.0,0.6,ppb,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1046,Triple Oak,12/15/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.6,ppm,7.0
1047,Triple Oak,12/16/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3,ppm,3.0
1048,Triple Oak,12/17/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5,ppm,6.0
1049,Triple Oak,12/18/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5,ppm,6.0
1050,Triple Oak,12/19/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3,ppm,3.0