In [1]:
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

2016 Data

In [2]:
#files to load for 2016
Raleigh_CO_2016 = "CO-CarbonMonoxide/2016-Raleigh-CO.csv"
Raleigh_NO_2016 = "NitrogenDioxide/2016-Raleigh-NO2.csv"
Raleigh_O_2016 = "Ozone/2016-Raleigh-Ozone.csv"

#no lead for Raleigh

Raleigh_PM_2016 = "PM-ParticulateMatter/2016-Raleigh-PM10.csv"
Raleigh_SO_2016 = "SulfurDioxide/2016-Raleigh-SO2.csv"

#Read files into Pandas dataframe

df_2016_CO = pd.read_csv(Raleigh_CO_2016)
df_2016_NO = pd.read_csv(Raleigh_NO_2016)
df_2016_O = pd.read_csv(Raleigh_O_2016)
df_2016_PM = pd.read_csv(Raleigh_PM_2016)
df_2016_SO = pd.read_csv(Raleigh_SO_2016)


df_2016_PM=df_2016_PM[['Site Name','Date','Daily Mean PM10 Concentration','UNITS','DAILY_AQI_VALUE', 'SITE_LATITUDE','SITE_LONGITUDE' ]]

df_2016_CO=df_2016_CO[['Site Name','Date','Daily Max 8-hour CO Concentration','UNITS','DAILY_AQI_VALUE']]

df_2016_NO=df_2016_NO[['Site Name','Date','Daily Max 1-hour NO2 Concentration','UNITS','DAILY_AQI_VALUE']]

df_2016_O=df_2016_O[['Site Name','Date','Daily Max 8-hour Ozone Concentration','UNITS','DAILY_AQI_VALUE']]

df_2016_SO=df_2016_SO[['Site Name','Date','Daily Max 1-hour SO2 Concentration','UNITS','DAILY_AQI_VALUE']]


df_2016_PM

,Site Name,Date,Daily Mean PM10 Concentration,UNITS,DAILY_AQI_VALUE,SITE_LATITUDE,SITE_LONGITUDE
0,Millbrook School,8/27/2016,7,ug/m3 SC,6,35.856111,-78.574167
1,Millbrook School,8/28/2016,7,ug/m3 SC,6,35.856111,-78.574167
2,Millbrook School,9/1/2016,15,ug/m3 SC,14,35.856111,-78.574167
3,Millbrook School,9/2/2016,9,ug/m3 SC,8,35.856111,-78.574167
4,Millbrook School,9/10/2016,23,ug/m3 SC,21,35.856111,-78.574167
...,...,...,...,...,...,...,...
295,Millbrook School,12/2/2016,9,ug/m3 SC,8,35.856111,-78.574167
296,Millbrook School,12/8/2016,8,ug/m3 SC,7,35.856111,-78.574167
297,Millbrook School,12/14/2016,11,ug/m3 SC,10,35.856111,-78.574167
298,Millbrook School,12/20/2016,8,ug/m3 SC,7,35.856111,-78.574167
299,Millbrook School,12/26/2016,11,ug/m3 SC,10,35.856111,-78.574167

print(df_2016_O.count())
print(df_2016_CO.count())
print(df_2016_NO.count())
print(df_2016_PM.count())
print(df_2016_SO.count())

Scratched
#Cheyenne_2016_All = left.join(right, on=['Site Name'])
#Cheyenne_2016_All = pd.concat([left, right], axis=1)
#Cheyenne_2016_All = pd.merge(left.drop_duplicates(),right, how='inner', on='Site Name', validate='many_to_many')
#C_2016=pd.merge(left.drop_duplicates(), right, how = 'inner',on=['col_1','col_2'])
#C_2016=pd.concat([left, right],axis=1 )

In [3]:
left = df_2016_PM
right = df_2016_NO
Raleigh_2016_All = pd.merge(left, right, on=['Site Name','Date'],how='outer', indicator=True)

In [4]:
left = Raleigh_2016_All
right = df_2016_O
Raleigh_2016_All = pd.merge(left, right, on=['Site Name','Date'],how='outer')

In [5]:
left = Raleigh_2016_All
right = df_2016_SO
Raleigh_2016_All = pd.merge(left, right, on=['Site Name','Date'],how='outer')

In [6]:
left = Raleigh_2016_All
right = df_2016_CO
Raleigh_2016_All = pd.merge(left, right, on=['Site Name','Date'],how='outer')

In [7]:
Raleigh_2016_All.columns

Index(['Site Name', 'Date', 'Daily Mean PM10 Concentration', 'UNITS_x',
       'DAILY_AQI_VALUE_x', 'SITE_LATITUDE', 'SITE_LONGITUDE',
       'Daily Max 1-hour NO2 Concentration', 'UNITS_y', 'DAILY_AQI_VALUE_y',
       '_merge', 'Daily Max 8-hour Ozone Concentration', 'UNITS_x',
       'DAILY_AQI_VALUE_x', 'Daily Max 1-hour SO2 Concentration', 'UNITS_y',
       'DAILY_AQI_VALUE_y', 'Daily Max 8-hour CO Concentration', 'UNITS',
       'DAILY_AQI_VALUE'],
      dtype='object')

In [8]:
Raleigh_2016_All.count()

Site Name                               1051
Date                                    1051
Daily Mean PM10 Concentration            300
UNITS_x                                  300
DAILY_AQI_VALUE_x                        300
SITE_LATITUDE                            300
SITE_LONGITUDE                           300
Daily Max 1-hour NO2 Concentration       789
UNITS_y                                  789
DAILY_AQI_VALUE_y                        789
_merge                                   793
Daily Max 8-hour Ozone Concentration     689
UNITS_x                                  689
DAILY_AQI_VALUE_x                        689
Daily Max 1-hour SO2 Concentration       450
UNITS_y                                  450
DAILY_AQI_VALUE_y                        450
Daily Max 8-hour CO Concentration        447
UNITS                                    447
DAILY_AQI_VALUE                          447
dtype: int64

In [9]:
#print(Raleigh_2016_All)

In [10]:
Raleigh_2016_All.columns=['Site Name','Date','DMean PM10','PM10 Units','PM10 AQI','Lat','Lng','DMax NO2','NO2 Units','NO2 AQI','Merged','DMax Ozone','Ozone Units','Ozone AQI','DMax SO2','SO2 Units','SO2 AQI','DMax CO','CO Units','CO AQI']

In [11]:
Raleigh_2016_All.count()

Site Name      1051
Date           1051
DMean PM10      300
PM10 Units      300
PM10 AQI        300
Lat             300
Lng             300
DMax NO2        789
NO2 Units       789
NO2 AQI         789
Merged          793
DMax Ozone      689
Ozone Units     689
Ozone AQI       689
DMax SO2        450
SO2 Units       450
SO2 AQI         450
DMax CO         447
CO Units        447
CO AQI          447
dtype: int64

In [12]:
Raleigh_2016_All.drop('Merged',axis=1,inplace=True)
Raleigh_2016_All.to_csv("RA2016DF.csv")

2018 Data

In [13]:
#files to load for 2018

Raleigh_CO_2018 = "CO-CarbonMonoxide/2018-Raleigh-CO.csv"
Raleigh_NO_2018 = "NitrogenDioxide/2018-Raleigh-NO2.csv"
Raleigh_O_2018= "Ozone/2018-Raleigh-Ozone.csv"
Raleigh_PM_2018 = "PM-ParticulateMatter/2018-Raleigh-PM10.csv"
Raleigh_SO_2018 = "SulfurDioxide/2018-Raleigh-SO2.csv"

#Read files into Pandas dataframe

df_2018_CO = pd.read_csv(Raleigh_CO_2018)
df_2018_NO = pd.read_csv(Raleigh_NO_2018)
df_2018_O = pd.read_csv(Raleigh_O_2018)
df_2018_PM = pd.read_csv(Raleigh_PM_2018)
df_2018_SO = pd.read_csv(Raleigh_SO_2018)

df_2018_PM=df_2018_PM[['Site Name','Date','Daily Mean PM10 Concentration','UNITS','DAILY_AQI_VALUE', 'SITE_LATITUDE','SITE_LONGITUDE' ]]

df_2018_CO=df_2018_CO[['Site Name','Date','Daily Max 8-hour CO Concentration','UNITS','DAILY_AQI_VALUE']]

df_2018_NO=df_2018_NO[['Site Name','Date','Daily Max 1-hour NO2 Concentration','UNITS','DAILY_AQI_VALUE']]

df_2018_O=df_2018_O[['Site Name','Date','Daily Max 8-hour Ozone Concentration','UNITS','DAILY_AQI_VALUE']]

df_2018_SO=df_2018_SO[['Site Name','Date','Daily Max 1-hour SO2 Concentration','UNITS','DAILY_AQI_VALUE']]


df_2018_PM

,Site Name,Date,Daily Mean PM10 Concentration,UNITS,DAILY_AQI_VALUE,SITE_LATITUDE,SITE_LONGITUDE
0,Millbrook School,1/1/2018,7,ug/m3 SC,6,35.856111,-78.574167
1,Millbrook School,1/2/2018,12,ug/m3 SC,11,35.856111,-78.574167
2,Millbrook School,1/3/2018,20,ug/m3 SC,19,35.856111,-78.574167
3,Millbrook School,1/4/2018,13,ug/m3 SC,12,35.856111,-78.574167
4,Millbrook School,1/5/2018,12,ug/m3 SC,11,35.856111,-78.574167
...,...,...,...,...,...,...,...
583,Millbrook School,12/27/2018,15,ug/m3 SC,14,35.856111,-78.574167
584,Millbrook School,12/28/2018,12,ug/m3 SC,11,35.856111,-78.574167
585,Millbrook School,12/29/2018,12,ug/m3 SC,11,35.856111,-78.574167
586,Millbrook School,12/30/2018,19,ug/m3 SC,18,35.856111,-78.574167
587,Millbrook School,12/31/2018,22,ug/m3 SC,20,35.856111,-78.574167

In [14]:
Raleigh_2018_All=[]

In [15]:
left = df_2018_PM
right = df_2018_NO
Raleigh_2018_All = pd.merge(left, right, on=['Site Name','Date'],how='outer', indicator=True)

In [16]:
left = Raleigh_2018_All
right = df_2018_O
Raleigh_2018_All = pd.merge(left, right, on=['Site Name','Date'],how='outer')

In [17]:
left = Raleigh_2018_All
right = df_2018_SO
Raleigh_2018_All = pd.merge(left, right, on=['Site Name','Date'],how='outer')

In [18]:
left = Raleigh_2018_All
right = df_2018_CO
Raleigh_2018_All = pd.merge(left, right, on=['Site Name','Date'],how='outer')

In [19]:
Raleigh_2018_All.columns

Index(['Site Name', 'Date', 'Daily Mean PM10 Concentration', 'UNITS_x',
       'DAILY_AQI_VALUE_x', 'SITE_LATITUDE', 'SITE_LONGITUDE',
       'Daily Max 1-hour NO2 Concentration', 'UNITS_y', 'DAILY_AQI_VALUE_y',
       '_merge', 'Daily Max 8-hour Ozone Concentration', 'UNITS_x',
       'DAILY_AQI_VALUE_x', 'Daily Max 1-hour SO2 Concentration', 'UNITS_y',
       'DAILY_AQI_VALUE_y', 'Daily Max 8-hour CO Concentration', 'UNITS',
       'DAILY_AQI_VALUE'],
      dtype='object')

In [20]:
Raleigh_2018_All.count()

Site Name                               1183
Date                                    1183
Daily Mean PM10 Concentration            588
UNITS_x                                  588
DAILY_AQI_VALUE_x                        588
SITE_LATITUDE                            588
SITE_LONGITUDE                           588
Daily Max 1-hour NO2 Concentration       908
UNITS_y                                  908
DAILY_AQI_VALUE_y                        908
_merge                                   931
Daily Max 8-hour Ozone Concentration     811
UNITS_x                                  811
DAILY_AQI_VALUE_x                        811
Daily Max 1-hour SO2 Concentration       577
UNITS_y                                  577
DAILY_AQI_VALUE_y                        577
Daily Max 8-hour CO Concentration        936
UNITS                                    936
DAILY_AQI_VALUE                          936
dtype: int64

In [21]:
Raleigh_2018_All.columns=['Site Name','Date','DMean PM10','PM10 Units','PM10 AQI','Lat','Lng','DMax NO2','NO2 Units','NO2 AQI','Merged','DMax Ozone','Ozone Units','Ozone AQI','DMax SO2','SO2 Units','SO2 AQI','DMax CO','CO Units','CO AQI']

In [22]:
Raleigh_2018_All.drop('Merged',axis=1,inplace=True)
Raleigh_2018_All.to_csv("RA2018DF.csv")

2020 Data

In [24]:
#files to load for 2020

Raleigh_CO_2020 = "CO-CarbonMonoxide/2020-Raleigh-CO.csv"
Raleigh_NO_2020 = "NitrogenDioxide/2020-Raleigh-NO2.csv"
Raleigh_O_2020 = "Ozone/2020-Raleigh-Ozone.csv"
#no lead for Raleigh
Raleigh_PM_2020 = "PM-ParticulateMatter/2020-Raleigh-PM10.csv"
Raleigh_SO_2020 = "SulfurDioxide/2020-Raleigh-SO2.csv"

#Read files into Pandas dataframe

df_2020_CO = pd.read_csv(Raleigh_CO_2020)
df_2020_NO = pd.read_csv(Raleigh_NO_2020)
df_2020_O = pd.read_csv(Raleigh_O_2020)
df_2020_PM = pd.read_csv(Raleigh_PM_2020)
df_2020_SO = pd.read_csv(Raleigh_SO_2020)


df_2020_PM=df_2020_PM[['Site Name','Date','Daily Mean PM10 Concentration','UNITS','DAILY_AQI_VALUE', 'SITE_LATITUDE','SITE_LONGITUDE' ]]

df_2020_CO=df_2020_CO[['Site Name','Date','Daily Max 8-hour CO Concentration','UNITS','DAILY_AQI_VALUE']]

df_2020_NO=df_2020_NO[['Site Name','Date','Daily Max 1-hour NO2 Concentration','UNITS','DAILY_AQI_VALUE']]

df_2020_O=df_2020_O[['Site Name','Date','Daily Max 8-hour Ozone Concentration','UNITS','DAILY_AQI_VALUE']]

df_2020_SO=df_2020_SO[['Site Name','Date','Daily Max 1-hour SO2 Concentration','UNITS','DAILY_AQI_VALUE']]


df_2020_PM

,Site Name,Date,Daily Mean PM10 Concentration,UNITS,DAILY_AQI_VALUE,SITE_LATITUDE,SITE_LONGITUDE
0,Millbrook School,1/1/2020,8,ug/m3 SC,7,35.856111,-78.574167
1,Millbrook School,1/2/2020,13,ug/m3 SC,12,35.856111,-78.574167
2,Millbrook School,1/3/2020,12,ug/m3 SC,11,35.856111,-78.574167
3,Millbrook School,1/4/2020,3,ug/m3 SC,3,35.856111,-78.574167
4,Millbrook School,1/5/2020,6,ug/m3 SC,6,35.856111,-78.574167
...,...,...,...,...,...,...,...
693,Millbrook School,12/27/2020,19,ug/m3 SC,18,35.856111,-78.574167
694,Millbrook School,12/28/2020,18,ug/m3 SC,17,35.856111,-78.574167
695,Millbrook School,12/29/2020,13,ug/m3 SC,12,35.856111,-78.574167
696,Millbrook School,12/30/2020,12,ug/m3 SC,11,35.856111,-78.574167
697,Millbrook School,12/31/2020,14,ug/m3 SC,13,35.856111,-78.574167

In [25]:
Raleigh_2020_All = []

In [26]:
left = df_2020_PM
right = df_2020_NO
Raleigh_2020_All = pd.merge(left, right, on=['Site Name','Date'],how='outer', indicator=True)

In [27]:
left = Raleigh_2020_All
right = df_2020_O
Raleigh_2020_All = pd.merge(left, right, on=['Site Name','Date'],how='outer')

In [28]:
left = Raleigh_2020_All
right = df_2020_SO
Raleigh_2020_All = pd.merge(left, right, on=['Site Name','Date'],how='outer')

In [29]:
left = Raleigh_2020_All
right = df_2020_CO
Raleigh_2020_All = pd.merge(left, right, on=['Site Name','Date'],how='outer')

In [30]:
Raleigh_2020_All.count()

Site Name                               1312
Date                                    1312
Daily Mean PM10 Concentration            698
UNITS_x                                  698
DAILY_AQI_VALUE_x                        698
SITE_LATITUDE                            698
SITE_LONGITUDE                           698
Daily Max 1-hour NO2 Concentration       986
UNITS_y                                  986
DAILY_AQI_VALUE_y                        986
_merge                                  1032
Daily Max 8-hour Ozone Concentration     945
UNITS_x                                  945
DAILY_AQI_VALUE_x                        945
Daily Max 1-hour SO2 Concentration       643
UNITS_y                                  643
DAILY_AQI_VALUE_y                        643
Daily Max 8-hour CO Concentration       1061
UNITS                                   1061
DAILY_AQI_VALUE                         1061
dtype: int64

In [31]:
Raleigh_2020_All.tail()

,Site Name,Date,Daily Mean PM10 Concentration,UNITS_x,DAILY_AQI_VALUE_x,SITE_LATITUDE,SITE_LONGITUDE,Daily Max 1-hour NO2 Concentration,UNITS_y,DAILY_AQI_VALUE_y,_merge,Daily Max 8-hour Ozone Concentration,UNITS_x,DAILY_AQI_VALUE_x,Daily Max 1-hour SO2 Concentration,UNITS_y,DAILY_AQI_VALUE_y,Daily Max 8-hour CO Concentration,UNITS,DAILY_AQI_VALUE
1307,Triple Oak,11/29/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5,ppm,6.0
1308,Triple Oak,11/30/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3,ppm,3.0
1309,Triple Oak,12/1/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3,ppm,3.0
1310,Triple Oak,12/2/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5,ppm,6.0
1311,Triple Oak,12/10/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.7,ppm,8.0

In [32]:
Raleigh_2020_All.columns=['Site Name','Date','DMean PM10','PM10 Units','PM10 AQI','Lat','Lng','DMax NO2','NO2 Units','NO2 AQI','Merged','DMax Ozone','Ozone Units','Ozone AQI','DMax SO2','SO2 Units','SO2 AQI','DMax CO','CO Units','CO AQI']

In [33]:
Raleigh_2020_All.columns

Index(['Site Name', 'Date', 'DMean PM10', 'PM10 Units', 'PM10 AQI', 'Lat',
       'Lng', 'DMax NO2', 'NO2 Units', 'NO2 AQI', 'Merged', 'DMax Ozone',
       'Ozone Units', 'Ozone AQI', 'DMax SO2', 'SO2 Units', 'SO2 AQI',
       'DMax CO', 'CO Units', 'CO AQI'],
      dtype='object')

In [34]:
Raleigh_2020_All.drop('Merged',axis=1,inplace=True)
Raleigh_2020_All.to_csv("RA2020DF.csv")